body {
    margin: 0;
}

header {
    background-color: #515151;
    font-size: 1rem;
    color: white;
    padding: 0.75rem 1rem;
}

nav {
    display: grid;
    background-color: black;

}

nav {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
}

.nav-list {
    display: flex;
    flex-flow: row;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav-list li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    flex: 1 1 auto;

}

.nav-list a {
    display: block;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    min-height: 600px;
}

main>section {
    background: #d3d3d3;
    padding: 1rem;
}

main>aside {
    background: white;
    padding: 1rem;
}

footer {
    background-color: #515151;
    color: white;
    text-align: center;
    padding: 1rem;

}