:root {
    --primary-color: #edf2f4;
    --secondary-color: #2b2d42;
    --accent1-color: #8d99ae;
    --accent2-color: #ef233c;
    --accent3-color: #d90429;

    --heading-font: Silkscreen, serif;
    --body-font: Share Tech Mono, serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--secondary-color);
    font-family: var(--body-font), serif;
}

header, main, footer {
    width: auto;
    margin: 0 auto;
}

/* This section is for the header*/

header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    border-bottom: 1px solid var(--secondary-color);
    background-color: var(--accent1-color);
}

nav {
    display: flex;
    justify-content:space-around;
}
nav{
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list {
    display: flex;
    flex-flow: row;
    gap: 10px;
    font-size: 1rem;
}

.nav-list li {
    list-style: none;
    padding: 0;
}

.nav-list a {
    color: var(--secondary-color);
    text-decoration: none;
}

.nav-list a:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    transform: translateY(-2px);
}

.nav-list a:active {
    color: var(--accent2-color);
    transform: translateY(0);
}

/**/

h1 {
    color:var(--secondary-color);
}

main {
    padding: 5px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

.card-about h2 {
    color: var(--secondary-color);
    font-family: var(--heading-font), serif;
    font-size: 2.1rem;
    border-bottom: 1px solid var(--secondary-color);
}

.card-about {
    gap: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    background-color: var(--primary-color);
    padding: 1rem;
}

.media img, .flag img{
    width: 300px;
    height: auto;
}

.media figcaption {
    color: var(--secondary-color);
    font-style: italic;
    padding: 5px;
    gap: 10px;
}

.about-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.about-txt {
    color: var(--secondary-color);
    font-size: 1.9rem;
}

.country-content {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-top: 1px solid var(--secondary-color);
}

.country-txt {
    color: var(--secondary-color);
    font-size: 1.2rem;
}

.flag figcaption {
    color: var(--secondary-color);
    font-style: italic;
    padding: 5px;
    gap: 10px;
    align-items: center;

}

aside {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    padding: 1rem;
    align-content: center;
    text-align: center;
}

aside:hover{
    background-color: var(--accent2-color);
    color: var(--primary-color);
    border: 1px solid var(--accent2-color);
    border-radius: 5px;
    padding: 1rem;
}

aside h2 {
    color: var(--primary-color);
    font-family: var(--heading-font), serif;
    font-size: 2rem;
    border-bottom: 1px solid var(--primary-color);
}

.polarbear img{
    width: 300px;
    height: auto;
    padding: 1rem;
}

.polar-facts p{
    color: var(--primary-color);
    font-size: 1.2rem;
}

.polar-facts a{
    color: var(--primary-color);
}

.polar-facts a:hover{
    color: var(--secondary-color);
}

.pixel-me img {
    width: 300px;
    height: auto;
    padding: 1rem;
}

.pixel-me figcaption {
    color: var(--primary-color);
    font-style: italic;
    padding: 5px;
    gap: 10px;
}

h3 {
    color: var(--primary-color);
    font-family: var(--heading-font), serif;
    font-size: 1.7rem;
    border-bottom: 1px solid var(--primary-color);
}

footer{
    background-color: var(--accent1-color);
    color: var(--primary-color);
    text-align: center;
    padding: 1rem;
}

footer:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}